
import("ggplot2")

importFrom("utils", "data")
importFrom("stats", "mad", "median", "na.omit", "pchisq", "qchisq","weighted.mean")
importFrom("matrixStats","weightedMedian")
importFrom("reshape2","melt")
importFrom("gridExtra","grid.arrange")
importFrom("scales","rescale")


export(checkDataSet)

export(DetectDeviatingCells)

export(cellMap)